.App {
  text-align: center;
}

.App{display:flex; flex-direction:row;}

/* #container {
  height: 100vh;
} */

#row{
  height: 100%;
}

#header {
  font-size: xx-large;
  width: 100%;
  padding: 20px 0;
  /* min-height: 10vh; */
  text-align: center;
  background-color: white;
  margin-top: 30px;
  border: 1px solid black;
  border-radius: 4px;
  box-shadow: 2px 2px 5px grey;
}

#createTemplateCol {
  border: 1px solid black;
  background-color: white;
  margin-top: 4%;
  /* margin-right: 2%; */
  margin-bottom: 2%;
  border-radius: 4px;
  box-shadow: 2px 2px 5px grey;
}

#boxCol {
  border: 2px solid red;
  margin-top: 10%;
  /*margin-left: 2%;
  margin-right: 2%;*/
  margin-bottom: 2%;
}

#createInstanceCol {
  border: 1px solid black;
  background-color: white;
  margin-top: 4%;
  /*margin-left: 2%;*/
  margin-bottom: 2%;
  border-radius: 4px;
  min-height: 100%;
  box-shadow: 2px 2px 5px grey;
}

#tv {
  font-size: xx-large;
  margin-top: -70px;
  text-align: center;
}
.createInstance {
  background-color: aquamarine;

}
.createTemplate { 
  background-color:#61dafb;
}
#uploadImage{
  cursor: move;
  height: 300px;
  width: 500px;
}