.App {
  text-align: center;
}

.App{display:flex; flex-direction:row;}

#container {
  height: 100vh;
}

#row{
  height: 90%;
}

#header {
  font-size: xx-large;
  width: 100%;
  padding: 20px 0;
  min-height: 10vh;
  text-align: center;
  background-color: lightgreen;
  margin-top: 0;
}

#createTemplateCol {
  background-color: rgb(164, 203, 230);
  margin-top: 4%;
  /*margin-right: 2%;*/
  margin-bottom: 2%;
  border-radius: 25px;
}

#boxCol {
  border: 2px solid red;
  margin-top: 10%;
  /*margin-left: 2%;
  margin-right: 2%;*/
  margin-bottom: 2%;
}

#createInstanceCol {
  background-color: rgb(164, 203, 230);
  margin-top: 4%;
  /*margin-left: 2%;*/
  margin-bottom: 2%;
  border-radius: 25px;
}

#tv {
  font-size: xx-large;
  margin-top: -70px;
  text-align: center;
}
.createInstance {
  background-color: aquamarine;

}
.createTemplate { 
  background-color:#61dafb;
}