#createInstance{
    margin-left: 30px;
    margin-right: 30px;
}

h1 {
    color:#1d3557;
    text-align: center;
  
}

#GetTemplates
{
    font-weight: bold;
    min-width: 8em;
    min-height: 2em;
    background-color:rgb(227, 224, 224);
}

#SubmitInstance
{ min-width: 10em;
    min-height: 3em;
    background-color:rgb(227, 224, 224);
    font-size:13px;
    font-weight: bold;
}

#PressToGetTemplates{
    font-weight: bold;
    color: black;
    padding-bottom: 0px;
}

#ChooseTemplate
{
       font-weight: bold;
       color: black;
       padding-bottom: 0px;
      
}

#DurationInSec
{
       font-weight: bold;
       color: black;
       
}

#duration{
    width:7em;
    text-align: center;
}

#AddMedia
{
    font-weight: bold;
       color: black;
}

#URL{
    min-width: 12em;
<<<<<<< HEAD
}

#gettemp{
    margin-top: 30px;
    

}

#selectTemplate {
    margin-top: 20px;
=======
>>>>>>> e972391bd179f6e09db43b7b967d274a55ef7c20
}