

#TemplateNameLabel
{
       font-weight: bold;
       color: black;
}
#ImageResizeLabel
{
       font-weight: bold;
       color: black;

}

/* #image{
      
       min-width: 2em;
       min-height:1.3em;
      
}   */

#InteractionsLabel{
       color: black;
       font-weight: bold;
}

/* #TemplateFieldset
{
      width:40%;
}  */

label{
       display:block;
       text-align: center;
       font-size: large;
     
}
/* #ImageResizeClass label{
       margin-top: 0;
       display:inline-block;
} */

#templatename{
       min-width: 20em;
       min-height:1.7em;
}
input[type="checkbox"]{
       min-width: 2em;
       min-height:1.3em;
      
}

input[type="checkbox"]+label{
       display:inline-block;
       padding-top: 0;
       margin-top:0;
}

.InteractionCheckboxes{
       display:inline-block;
       text-align: left;
}

.InteractionsLabel{
       text-align: center;
     
}
