

#ChooseTemplate
{
       font-weight: bold;
       color: black;
}

#DurationInSec
{
       font-weight: bold;
       color: black;
}

#AddMedia

{
    font-weight: bold;
       color: black;
}
