

#TemplateNameLabel
{
       font-weight: bold;
       color: black;
}
#ImageResizeLabel
{
       font-weight: bold;
       color: black;

}

#image{
       height: 20px;
       width:30px;
       
} 

#InteractionsLabel{
       color: black;
       font-weight: bold;
}