#create-template {
       position: relative;
       display: flex;
       flex-direction: column;
       margin-left: 20px;
       margin-right: 20px;
       height: 100%;
       border: 1px solid black;
       background-color: white;
       border-radius: 4px;
       box-shadow: 2px 2px 5px grey;
}

#formular {
       margin: 20px;
}

h1 {
       color: #1d3557;
       text-align: center;
       padding-top: 20px;
}

#template-name-group {
       margin-top: 20px;
}

#template-name-label {
       display: block;
       text-align: center;
       font-size: large;
       margin-bottom: 3px;
}

#template-name::placeholder {
       text-align: center;
}

select {
       text-align: center;
       color: black;
       min-height: 2em;
       border-color: black;
}

#submit-template-button {
       position: absolute;
       color: black;
       width: 10em;
       min-height: 3em;
       background-color: white;
       font-size: 13px;
       font-weight: bold;
       right: 0;
       bottom: 0;
       margin-bottom: 30px;
       margin-right: 20px;
}

#select-shape {
       margin-top: 30px;
}

#select-interaction {
       margin-top: 30px;
}