#television {
  display: flex;
  position: relative;
  border: 1px solid black;
  box-shadow: 2px 2px 5px grey;
  min-width: 1280px;
  min-height: 720px;
  max-width: 1280px;
  max-height: 720px;
  padding: 0;

}

#half-screen-top {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 30px;
  background-color: #0d6efd;
  right: 0;
  top: 0;
  width: 100%;
  height: 50%;
}

#half-screen-bottom {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 30px;
  background-color: #0d6efd;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 50%;
}